#map {
  width: 400px;
  height: 400px;
  box-shadow:2px 2px 10px whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  
}
body {
  margin:0 auto;
  background: linear-gradient(to bottom , rgba(70, 73, 80, 0.5), rgba(70, 73, 80, 0.5));
  font-family: 'Martel Sans', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.jumbotron{
  /* background-image: url("../images/WFH.jpg");
  background-size:cover; */
  background: white;
}
#searchBtn{
  margin-bottom: 10px;
}
#goBtn{
  position: relative;
  float: right;
  clear: both;
}

main {
  flex: 1 0 auto;
}

nav {
  background-color: #1a237e;
}

/* #nav-links {
  background-color: #7986cb;
} */

#leftCol {
  /* border:1px solid black; */
  box-shadow:2px 2px 10px whitesmoke;
  min-height: 50%;
  margin-top: 5%;
  /* margin-right:10px; */
}

#map{
  box-shadow:2px 2px 10px black;
}
#rightCol {
  margin-top: 5%;

}

li {
  border:1px solid white;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow:2px 2px 10px whitesmoke;
  background-color: whitesmoke;

}
tr {
  margin-left: 10px;
}
.searchInput {
  margin-left:5px;
  margin-bottom: 10px;
  width:90%;
}
#searchDiv {
 border:1px solid black;
  border-radius: 10px;
  box-shadow:2px 2px 10px darkgray;
  display:none;
  width: 40%;
}


.page-footer {
  background-color: #7986cb;
}
#devOps{
  display: flex;
  flex-direction:row;

}
.circle {
	width: 100px;
	height: 100px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
  border-radius: 50px;
  
}

#tim{
 background-image: url("../images/tim.png");
background-size: cover;
box-shadow:2px 2px 10px black;
}
#adam{
  background-image: url("../images/adam.png");
 background-size: cover;
 box-shadow:2px 2px 10px black;
 }

 #tony{
  background-image: url("../images/tony.png");
 background-size: cover;
 box-shadow:2px 2px 10px black;
 }

 #ace{
  background-image: url("../images/ace.png");
 background-size: cover;
 box-shadow:2px 2px 10px black;
 }

 #wal{
  background-image: url("../images/wal.png");
  background-size: cover;
  box-shadow:2px 2px 10px black;
 }

#iconsRow{
  display: flex;
  justify-content: flex-end;
}
.socialMediaIcons{
  margin-left: 25px;
  
}

#footer-copyright {
  background-color: #7986cb;
  text-align: center;
}
.page-footer {
  background-color: #7986cb;
}

